body {
	background:url(http://pomcast.biz/images/universe.jpg) repeat !important;
}
#jqt { margin: 150px 150px auto; width:640px; }
#jqt div { background:red;}

#phone { z-index:-1; position:absolute; top:10px; background: url(img/frame.png) no-repeat; margin: 150px 150px auto; width:368px; height:716px; }
#jqt div { width: 50%; 	}
iframe { margin: 278px 174px auto; width:320px; height:480px; }