body 		{ background:#1b242b; margin:0px; font: small-caps bold 14pt "Lucida Grande", Lucida, Verdana, sans-serif;}
#projects img 		{ height:40px; }
.impressum { font-size: 10px; }
span 		{ margin-left:5px; display:inline-table; padding-top:15px; padding-bottom:10px; }
iframe 		{ border-style: none; overflow:hidden; }
#jqt ul li 	{ padding: 0px 0px 0px 10px; }    
a 			{ color: yellow; }
#da			{ position: absolute; }
#da a		{ text-decoration:none; }
#phone { display:none }
#main { text-align:center; }
div.detail { margin-bottom:15px; }
div.detail img 	{ margin-left:20px; margin-top:20px; width:57px; }
div.detail span { padding-bottom:17px; width:170px; }
img { border: 0px; }
a.screenshot img { width: 95px; }
a.appstore img { margin-left:80px; }
img.screenshot { margin:5px 25px; width:270px; }
a.pop.screenshot img { margin: 3px; }
.counter { margin-right: 25px !important; display:block; position:relative; bottom:17px; }