body 	{ background:#1b242b; margin:0px; font: small-caps bold 14pt "Lucida Grande", Lucida, Verdana, sans-serif;}
img 	{ height:40px; }
span 	{ margin-left:5px; display:inline-table; padding-top:15px; padding-bottom:10px; }
iframe { border-style: none; overflow:hidden; }
/*#phone { display:none }*/